#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/reset.h>

#define BASE 0
#define FN1 1
#define FN2 2
#define FN3 3

/ {
  keymap {
    compatible = "zmk,keymap";

    Base_layer {
      bindings = <
        &kp ESC     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS
        &kp CAPS    &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSLH
        &kp TAB     &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
        &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp SLASH   &kp RSHFT
        &kp LCTRL   &kp LGUI    &kp LALT    &kp BSPC    &mo FN1     &kp SPACE   &kp SPACE   &mo FN1     &mo FN2     &kp RALT    &kp RCTRL   &kp DEL 
      >;
    };

    fn1_layer {
      bindings = <
        &kp GRAVE   &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
        &kp F12     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS
        &trans      &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &kp EQUAL   &kp INSERT  &kp HOME    &kp PG_UP   &trans      &trans      &trans
        &trans      &trans      &trans      &kp LBKT    &kp RBKT    &trans      &kp DEL     &kp END     &kp PG_DN   &trans      &trans      &trans
        &trans      &trans      &trans      &trans      &trans      &kp RETURN  &kp RETURN  &trans      &mo FN3     &trans      &trans      &trans 
      >;
    };

    fn2_layer {
      bindings = <
        &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
        &trans      &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &kp LS(MINUS)
        &trans      &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6      &trans      &trans      &trans      &trans      &trans
        &trans      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11     &kp F12     &trans      &trans      &trans      &trans      &trans
        &trans      &trans      &trans      &trans      &trans      &trans      &trans      &mo FN3     &trans      &trans      &trans      &trans
      >;
    };

    fn3_layer {
      bindings = <
        &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none    &none       &none       &none       &none       &none       &none       &none
        &out OUT_BLE &none      &none       &none       &none       &none       &none       &none       &none       &none       &none       &none
        &out OUT_USB &none      &none       &none       &none       &none       &none       &none       &none       &none       &none       &none
        &none       &none       &none       &none       &none       &none       &none       &none       &none       &none       &none       &none
        &bootloader &none       &none       &none       &none       &none       &none       &none       &none       &none       &none       &bootloader 
      >;
    };

  };
};